streamlit>=1.37.1
python-dotenv>=1.0.1
requests>=2.32.3
newspaper4k
beautifulsoup4>=4.12.3
lxml
lxml-html-clean
langchain
langchain-core
langchain-groq
langchain-community
numpy
tavily-python>=0.3.0
Pillow==10.4.0